<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stevemd.feature.repolist">
    <fragment
        android:name="com.stevemd.feature.repolist.ui.RepoListFragment"
        android:label="Repo List"
        android:theme="@style/AppTheme" />
</manifest>